<app-header></app-header>
<div class="container">
  <h2>Others who added {{ song?.fields.artist }} - {{ song?.fields.title }}</h2>
  {{ song?.fields.first_name }}
  <div class="row">
    <div class="col-6">
        <table class="table">
            <thead>
              <th>Name</th>
              <th>Times added</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of count">
                  <td><a routerLink='/users/{{user.fields.usercount.id}}'>{{ user.fields.usercount.first_name }} {{ user.fields.usercount.last_name }}</a></td>
                  <td>{{ user.fields.count}}</td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>